.hidden {
    display: none;
}

body {
    font-family: "Roboto",
        sans-serif;
    background: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list,
.contact {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-header {
        display: flex;
        align-items: center;
    }

    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .item-nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .item-nav-link.current {
        position: relative;
    }

    .item-nav-link.current .header-logo::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .contact-info {
        font-style: normal;
        display: block;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .contact-link:hover,
    .contact-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contact {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        image-set(url(../images/neu/768@1x.jpg) 1x, url(../images/neu/768@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button {
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/neu/768@1x.jpg) 1x, url(../images/neu/768@2x.jpg) 2x);
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/neu/people-office\ 1\ \(3\).jpg) 1x, url(../images/neu/people-office\ 1\ \(3\)\ \(1\).jpg) 2x);
    }
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.div-icons {
    display: none;
}

.benefits-name {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.box.benefits-name {
    text-align: center;
}

.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.box {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        column-gap: 24px;
        row-gap: 72px;
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .box.benefits-name {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
        gap: 24px;
    }



    .box.benefits-name {
        text-align: start;
    }

    .benefits-item {
        width: calc((100% - 72px) / 4);
    }

    .div-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        padding-top: 24px;
        padding-bottom: 24px;
        height: 112px;
    }

    .box {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-name {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .benefits-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }



    .benefits-name {
        font-weight: 400;
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        padding: 32px 0;
    }

    .our-team-h {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .our-team-p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }


    .team-icon-ul {
        display: flex;
        flex-direction: row;
        gap: 24px;
        display: flex;
        justify-content: center;
    }

    .team-icon-a:hover,
    .team-icon-a:focus {
        background-color: #404bbf;
    }

    .team-icon-a {
        background-color: #4D5AE5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-icon-a:focus {
        background-color: #404bbf;
    }

    .svg-icon {
        fill: #f4f4fd;

    }


    .team-ul {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .team-name {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .team-color {
        padding: 120px 0;
        background-color: #f4f4fd;
    }

    .team {
        background-color: #ffffff;

        width: calc((100% - 72px) / 4);
        border-radius: 0 0 0 0;


        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}


@media (max-width: 765px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .team-ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .team {
        width: 90%;
        /* Карточки растягиваются на 90% экрана */
    }

    .team-icon-ul {
        gap: 8px;
    }

    .team-icon-a {
        width: 35px;
        height: 35px;
    }

    .svg-icon {
        width: 14px;
        height: 14px;
    }
}

.team-color {
    background-color: #f8f9fc;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.team-name {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.team-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.team {
    background: white;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 264px;
}

.team img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

.team-container {
    padding: 20px;
}

.our-team-h {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.our-team-p {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.team-icon-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.team-icon-li {
    display: inline-block;
}

.team-icon-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-a:hover {
    background: #404bbf;
}

.svg-icon {
    fill: white;
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .portfolio-ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 24px*2)/3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;

    }



    .portfolio-overlay-text {
        background-color: #4d5ae5;
        position: absolute;
        color: #f4f4fd;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        padding: 40px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


    .portfolio-item:hover .portfolio-overlay-text {
        transform: translateY(0);
    }

    .portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .portfolio-ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }

    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }




    .portfolio-content {
        padding: 32px 16px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;

    }

    .portfolio-h {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .portfolio-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

}



@media screen and (max-width: 767px) {
    .portfolio-ul {
        gap: 16px;
    }

    .portfolio-item {
        flex-basis: 100%;
    }

    .portfolio-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .portfolio-ul {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .portfolio-item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fff;
        overflow: hidden;

    }

    .portfolio-item:hover {
        box-shadow: 0px 4px 10px rgba(46, 47, 66, 0.15);
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;
    }

    .portfolio-overlay img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0 0 0 0;
    }

    .portfolio-overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(77, 90, 229, 0.8);
        color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }

    .portfolio-item:hover .portfolio-overlay-text {
        opacity: 1;
    }

    .portfolio-content {
        padding: 16px;
        text-align: center;
        border-top: 1px solid #e7e9fc;
    }

    .portfolio-h {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .portfolio-p {
        font-weight: 400;
        color: #434455;
        font-size: 16px;
    }
}

@media screen and (min-width: 443px) and (max-width: 1158px) {
    .portfolio-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }

    .portfolio-item {
        flex: 1 1 calc(50% - 12px);
    }

    .portfolio-section {
        padding-top: 0;
        padding-bottom: 96px;
    }

    .portfolio-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .portfolio-item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fff;
        overflow: hidden;
        border-radius: 0;
    }

    .portfolio-item:hover {
        box-shadow: 0px 4px 10px rgba(46, 47, 66, 0.15);
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;
    }

    .portfolio-overlay img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .portfolio-overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(77, 90, 229, 0.8);
        color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }

    .portfolio-item:hover .portfolio-overlay-text {
        opacity: 1;
    }

    .portfolio-content {
        padding: 16px;
        text-align: center;
        border-top: 1px solid #e7e9fc;
    }

    .portfolio-h {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .portfolio-p {
        font-weight: 400;
        color: #434455;
        font-size: 16px;
    }
}

.portfolio-title {
    text-align: center;
}

.portfolio-title {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .portfolio-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }

    .portfolio-item {
        flex: 1 1 calc(50% - 12px);
        margin-top: 72px;
    }

    .portfolio-content {
        margin-top: 72px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .portfolio-item {
        margin-top: 72px;
    }

    .portfolio-content {
        margin-top: 72px;
    }
}