.hidden {
    display: none;
}

body {
    font-family: "Roboto",
        sans-serif;
    background: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

/*.portfolio-item {
    margin-top: 72px;
}*/
button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/*.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}*/

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list,
.contact {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    padding: 1px 6px;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-header {
        display: flex;
        align-items: center;
    }

    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .item-nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .item-nav-link.current {
        position: relative;
    }

    .item-nav-link.current .header-logo::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .contact-info {
        font-style: normal;
        display: block;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .contact-link:hover,
    .contact-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .item-nav-link.current {
        color: #404bbf;
    }

    .item-nav-link.current {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .item-nav-link.current::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .contact {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        image-set(url(../images/neu/768@1x.jpg) 1x, url(../images/neu/768@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button {
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/neu/768@1x.jpg) 1x, url(../images/neu/768@2x.jpg) 2x);
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/neu/people-office\ 1\ \(3\).jpg) 1x, url(../images/neu/people-office\ 1\ \(3\)\ \(1\).jpg) 2x);
    }
}

@media screen and (max-width: 320px) {
    .benefits-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .benefits-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        align-items: center;
    }
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.div-icons {
    display: none;
}


.box.benefits-name {
    text-align: center;
}


.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

.box {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        column-gap: 24px;
        row-gap: 72px;
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .box.benefits-name {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
        gap: 24px;
    }



    .box.benefits-name {
        text-align: start;
    }

    .benefits-item {
        width: calc((100% - 72px) / 4);
    }

    .div-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        padding-top: 24px;
        padding-bottom: 24px;
        height: 112px;
    }

    .box {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .benefits-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }



    .benefits-name {
        font-weight: 400;
    }
}

/*
@media screen and (min-width: 1158px) {
    .team-container {
        padding: 32px 0;
    }

    .our-team-h {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .our-team-p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }


    .team-icon-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
    }

    .team-icon-a:hover,
    .team-icon-a:focus {
        background-color: #404bbf;
    }

    .team-icon-a {
        background-color: #4D5AE5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-icon-a:focus {
        background-color: #404bbf;
    }

    .svg-icon {
        fill: #f4f4fd;

    }


    .team-ul {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .team-name {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;




    }

    .team-color {
        padding: 120px 0;
        background-color: #f4f4fd;
    }

    .team {
        background-color: #ffffff;

        width: calc((100% - 72px) / 4);
        border-radius: 0 0 0 0;


        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}



@media screen and (min-width: 443px) and (max-width: 1158px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .team-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        list-style: none;

        column-gap: 12px;
        row-gap: 44px;
    }




    .team-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        list-style: none;

        column-gap: 24px;
        row-gap: 44px;
        flex-basis: calc((100% - 24px) / 2);
    }

    .team {
        width: 80%;

    }

    .team-icon-ul {
        display: flex;

    }

    .team-icon-a {
        width: 35px;
        height: 35px;
    }

    .svg-icon {
        width: 14px;
        height: 14px;
    }
}

.team-color {
    background-color: #f4f4fd;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
}

.team-name {
    font-size: 32px;
    margin-top: 90px;
    margin-bottom: 72px;
    color: #333;


}

.team-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;

}

.team {
    background: white;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 264px;
}

.team img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

.team-container {
    padding: 20px;
}

.our-team-h {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.our-team-p {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.team-icon-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.team-icon-li {
    display: inline-block;
}

.team-icon-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-a:hover {
    background: #404bbf;
}

.svg-icon {
    fill: white;
}*/
.team-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-container .our-team-h {
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
}

.team-container .our-team-p {
    font-weight: 400;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

.team {
    max-width: 264px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-container {
    padding: 32px 0;
    text-align: center;
}

.team-icon-ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    display: flex;
    justify-content: center;
}

.team-icon-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
    fill: #f4f4fd;
}

.team-icon-a:hover,
.team-icon-a:focus {
    background-color: #404bbf;
}

.team-color {
    padding-top: 96px;
    padding-bottom: 72px;
    background-color: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-ul {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-ul {
        gap: 24px;
    }

    .team {
        flex-basis: calc((100% - 72px) / 4);
    }

    .team-color {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-section {
    padding: 96px 0px;
}

.portfolio-ul {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;

}

.portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-overlay-text {
    display: none;
}

.portfolio-content .portfolio-h {
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-content .portfolio-p {
    font-weight: 400;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-ul {
        column-gap: 24px;
        row-gap: 64px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-ul {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover .portfolio-overlay-text {
        transform: translateY(0);
    }

    .portfilio-overlay-text {
        background-color: #4d5ae5;
        display: block;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 40px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .portfolio-overlay {
        position: relative;
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-section {
        padding-bottom: 120px;
        padding-top: 120px;
    }
}

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    text-align: center;
}

.footer-name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.studio {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

.footer-svg-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.footer-svg-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
    fill: white;
}

.footer-text-scl {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form-div {
    margin-top: 72px;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-link {
    margin-top: 72px;
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    min-width: 288px;
    height: 40px;
    opacity: 0.6;
    outline: transparent;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border-color: #4D5AE5;
    opacity: 0.8;
}

.bt-ft-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.svg-icon-footer-form {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        width: 584px;
    }

    .footer-link {
        margin-top: 0;
    }

    .footer-form-div {
        margin-top: 0;
    }

    .footer-logo {
        min-width: 264px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-text {
        text-align: start;
    }

    .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 288px;
        margin: 0 auto;

        text-align: start;
        color: #f4f4fd;
    }

    .footer-logo {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        gap: 0;
        flex-wrap: nowrap;
        width: 1158px;
    }

    .footer-logo {
        text-align: start;
        margin-right: 120px;
    }

    .footer-link {
        margin-right: 80px;
    }

    .footer-input {
        min-width: 264px;
        opacity: 1;
    }

    .bt-ft-form:hover,
    .bt-ft-form:focus {
        background-color: #404BBF;
    }

    .footer-input::placeholder {
        color: #fff;
    }

    .footer-svg-a:hover,
    .footer-svg-a:focus {
        background-color: #31D0AA;
    }
}

.backdrop {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button {
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    fill: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.text-modal {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.form-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    margin-top: 8px;
}

.modal-input-div {

    position: relative;
}


.input-class {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-class:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* Text */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
}

.submit-btn:hover {
    background-color: #404BBF;
}

.textarea-form {
    width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    /* text */
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus {
    border-color: #4D5AE5;
}

.checkbox {
    margin-bottom: 24px;
}





.privacy-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.privacy-label .privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.user-privacy:checked+.privacy-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
    color: #4d5ae5;
}

.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-div-comment {
    margin-bottom: 16px;
}

.modal-cheackbox {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus,
.mobile-menu-close:hover {
    background-color: #404BBF;
}

.svg-icon-mobile-menu {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon-mobile-menu:focus,
.svg-icon-mobile-menu:hover {
    fill: #F4F4FD;
}

.mobile-menu-container {
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu-nav-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mobile-menu-nav-link-start {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-address {
    margin-top: auto;
    font-style: normal;
}

.mobile-menu-address-ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.mobile-menu-address-li {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-address-li:focus,
.mobile-menu-address-li:hover {
    color: #404BBF;
}

.mobile-social-div {
    margin-top: 48px;
}

.mobile-social-ul {
    display: flex;
    gap: 40px;
}

.mobile-social-a {
    background-color: #404BBF;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-mobile-social {
    fill: #F4F4FD;
}

.mobile-social-a:focus,
.mobile-social-a:hover {
    background-color: #31D0AA;
}

.menu-modal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.mobile-social-div {
    margin-top: 48px;
}

.modal-phone {

    display: inline-block;

}





.modal-icon-a {
    background-color: #404BBF;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.team-icon-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-a:hover,
.team-icon-a:focus {
    background-color: #404bbf;
}

.svg-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.icon-div {
    margin-top: 48px;
}

.icon-ul {
    display: flex;
    gap: 40px;

}

.icon-li {
    display: inline-block;
}

.icon-a:hover,
.icon-a:focus {
    background-color: #404bbf;
}

.icon-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-a:focus {
    background-color: #404bbf;
}

.svg-i {
    fill: #f4f4fd;
}